---
version: 2
updates:
  # Updates for main
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "support/v2"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"
