ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
default_stages: [commit, push]
default_language_version:
  python: python3
repos:
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: [
        --max-line-length=100
      ]
      exclude: ^(venv/|docs/)
      types: ['python']
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args: ["-L", "ba,ihs,kake,nd,noe,nwo,te", "-S", "fixture"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-yaml
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        files: zarr
        args: []
        additional_dependencies:
          - types-redis
          - types-setuptools
