ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
  autofix_prs: false
default_stages: [commit, push]
default_language_version:
  python: python3
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.5.1'
    hooks:
    - id: ruff
      args: ["--fix", "--show-fixes"]
    - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["-L", "ba,ihs,kake,nd,noe,nwo,te,fo,zar", "-S", "fixture"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: check-yaml
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
      - id: mypy
        files: src
        additional_dependencies:
          # Package dependencies
          - asciitree
          - crc32c
          - donfig
          - fasteners
          - numcodecs
          - numpy
          - typing_extensions
          - zstandard
          # Tests
          - pytest
          # Zarr v2
          - types-redis
