# Based on https://github.com/developmentseed/obspec/blob/main/mkdocs.yml
site_name: zarr-python
repo_name: zarr-developers/zarr-python
repo_url: https://github.com/zarr-developers/zarr-python
site_description: An implementation of chunked, compressed, N-dimensional arrays for Python.
site_author: Alistair Miles
site_url: https://zarr.readthedocs.io/
docs_dir: docs

nav:
  - "index.md"
  - "quick-start.md"
  - User Guide:
      - user-guide/index.md
      - user-guide/installation.md
      - user-guide/arrays.md
      - user-guide/groups.md
      - user-guide/attributes.md
      - user-guide/storage.md
      - user-guide/config.md
      - user-guide/v3_migration.md
      - user-guide/data_types.md
      - user-guide/performance.md
      - user-guide/extending.md
      - user-guide/gpu.md
      - user-guide/consolidated_metadata.md
  - API Reference:
      - api/index.md
      - api/array.md
      - api/group.md
      - api/create.md
      - api/dtype.md
      - api/open.md
      - api/load.md
      - api/save.md
      - api/convenience.md
      - api/config.md
      - api/codecs.md
      - api/errors.md
      - api/registry.md
      - api/storage.md
      - api/testing.md
      - Async API: api/api_async.md
      - Sync API: api/api_sync.md
      - ABC:
        - api/abc/codec.md
        - api/abc/metadata.md
        - api/abc/store.md
      - deprecated:
        - Convenience sub-module: api/deprecated/convenience.md
        - Creation sub-module: api/deprecated/creation.md
  - release-notes.md
  - contributing.md
watch:
  - src/zarr
  - docs

theme:
  language: en
  name: material
  custom_dir: docs/overrides
  logo: _static/logo_horizontal.svg
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: blue grey
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: grey
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  font:
    text: Roboto
    code: Roboto Mono

  features:
    - content.code.annotate
    - content.code.copy
    - navigation.indexes
    - navigation.instant
    - navigation.tracking
    - search.suggest
    - search.share

extra:
  social:
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@zarr
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/zarr.dev

extra_css:
  - overrides/stylesheets/extra.css

plugins:
  - search
  - markdown-exec
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          paths: [src/zarr]
          options:
            # We set allow_inspection: false to ensure that all docstrings come
            # from the pyi files, not the Rust-facing doc comments.
            allow_inspection: false
            docstring_section_style: list
            docstring_style: numpy
            line_length: 60
            separate_signature: true
            show_root_heading: true
            show_signature_annotations: true
            show_source: false
            show_symbol_type_toc: true
            signature_crossrefs: true

          inventories:
            - https://docs.python.org/3/objects.inv
            - https://docs.xarray.dev/en/stable/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://numcodecs.readthedocs.io/en/stable/objects.inv
            - https://developmentseed.org/obstore/latest/objects.inv
            - https://filesystem-spec.readthedocs.io/en/latest/objects.inv
            - https://requests.readthedocs.io/en/latest/objects.inv
            - https://docs.aiohttp.org/en/stable/objects.inv
            - https://s3fs.readthedocs.io/en/latest/objects.inv
            - https://docs.h5py.org/en/stable/objects.inv
            - https://icechunk.io/en/stable/objects.inv
            - https://lithops-cloud.github.io/docs/objects.inv
            - https://docs.dask.org/en/stable/objects.inv
  - redirects:
      redirect_maps:
        'spec/index.md': 'https://zarr-specs.readthedocs.io'
        'spec/v1.md': 'https://zarr-specs.readthedocs.io/en/latest/v1/v1.0.html'
        'spec/v2.md': 'https://zarr-specs.readthedocs.io/en/latest/v2/v2.0.html'
        'spec/v3.md': 'https://zarr-specs.readthedocs.io/en/latest/v3/core/v3.0.html'
        'license.md': 'https://github.com/zarr-developers/zarr-python/blob/main/LICENSE.txt'
        'tutorial.md': 'user-guide/installation.md'
        'getting-started.md': 'quick-start.md'
        'roadmap.md': 'https://zarr.readthedocs.io/en/v3.0.8/developers/roadmap.html'
        'installation.md': 'user-guide/installation.md'
        'release.md': 'release-notes.md'

# https://github.com/developmentseed/titiler/blob/50934c929cca2fa8d3c408d239015f8da429c6a8/docs/mkdocs.yml#L115-L140
markdown_extensions:
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.arithmatex
  - pymdownx.betterem
  - pymdownx.caret:
      insert: false
  - pymdownx.details
  - pymdownx.escapeall:
      hardbreak: true
      nbsp: true
  - pymdownx.magiclink:
      hide_protocol: true
      repo_url_shortener: true
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
