# optional library requirements
# bsddb3==6.2.6; sys_platform != 'win32'
lmdb==1.4.0; sys_platform != 'win32'
# optional library requirements for Jupyter
ipytree==0.2.2
ipywidgets==8.0.4
# optional library requirements for services
# don't let pyup change pinning for azure-storage-blob, need to pin to older
# version to get compatibility with azure storage emulator on appveyor (FIXME)
azure-storage-blob==12.14.1 # pyup: ignore
redis==4.5.1
types-redis
types-setuptools
pymongo==4.3.3
# optional test requirements
coverage
pytest-cov==4.0.0
pytest-doctestplus==0.12.1
pytest-timeout==2.1.0
h5py==3.8.0
fsspec==2023.1.0
s3fs==2023.1.0
moto[server]>=4.0.8
