# optional library requirements
# bsddb3==6.2.6; sys_platform != 'win32'
lmdb==1.4.1; sys_platform != 'win32'
# optional library requirements for Jupyter
ipytree==0.2.2
ipywidgets==8.1.2
# optional library requirements for services
# don't let pyup change pinning for azure-storage-blob, need to pin to older
# version to get compatibility with azure storage emulator on appveyor (FIXME)
azure-storage-blob==12.16.0 # pyup: ignore
redis==5.0.4
types-redis
types-setuptools
pymongo==4.6.3
# optional test requirements
coverage
pytest-cov==5.0.0
pytest-doctestplus==1.2.1
pytest-timeout==2.3.1
h5py==3.11.0
fsspec==2023.12.2
s3fs==2023.12.2
moto[server]>=5.0.1
