asciitree==0.3.3
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
bleach==3.0.2
boto3==1.9.26
botocore==1.12.26
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cmarkgfm==0.4.2
configparser==3.5.0
coverage==4.5.1
coveralls==1.5.1
cryptography==2.3.1
Cython==0.29
docopt==0.6.2
docutils==0.14
enum34==1.1.6
fasteners==0.14.1
filelock==3.0.9
flake8==3.5.0
funcsigs==1.0.2
future==0.16.0
h5py==2.8.0
idna==2.7
ipaddress==1.0.22
jmespath==0.9.3
mccabe==0.6.1
monotonic==1.5
more-itertools==4.3.0
msgpack-python==0.5.6
numcodecs==0.5.5
pathlib2==2.3.2
pkginfo==1.4.2
pluggy==0.8.0
py==1.7.0
pycodestyle==2.3.1
pycparser==2.19
pyflakes==1.6.0
Pygments==2.2.0
pyOpenSSL==18.0.0
pytest==3.9.1
pytest-cov==2.6.0
python-dateutil==2.7.3
readme-renderer==22.0
requests==2.19.1
requests-toolbelt==0.8.0
s3fs==0.1.6
s3transfer==0.1.13
scandir==1.9.0
six==1.11.0
toml==0.10.0
tox==3.5.2
tox-travis==0.11
tqdm==4.27.0
twine==1.12.1
urllib3==1.23
virtualenv==16.0.0
webencodings==0.5.1
