# optional library requirements
# bsddb3==6.2.6; sys_platform != 'win32'
lmdb==1.2.1; sys_platform != 'win32'
# optional library requirements for Jupyter
ipytree==0.2.1
# optional library requirements for services
# don't let pyup change pinning for azure-storage-blob, need to pin to older
# version to get compatibility with azure storage emulator on appveyor (FIXME)
azure-storage-blob==12.8.1 # pyup: ignore
redis==3.5.3
types-redis
pymongo==3.11.4
# optional test requirements
tox==3.23.1
coverage
flake8==3.9.2
pytest-cov==2.12.1
pytest-doctestplus==0.9.0
h5py==3.2.1
s3fs==2021.6.0
fsspec==2021.6.1
moto[server]>=1.3.14
