blank_issues_enabled: true
contact_links:
  - name: Propose a new Zarr specification feature
    url: https://github.com/zarr-developers/zarr-specs
    about: A new feature for the Zarr storage specification should be opened on the zarr-specs repository.
  - name: Discuss something on ZulipChat
    url: https://ossci.zulipchat.com/
    about: For questions like "How do I do X with Zarr?", consider posting your question to our developer chat.
  - name: Discuss something on GitHub Discussions
    url: https://github.com/zarr-developers/zarr-python/discussions
    about: For questions like "How do I do X with Zarr?", you can move to GitHub Discussions.
