# This workflow simulates a fresh environment where the only install
# command is a user pip installing zarr
name: Latest dependencies

on:
  push:
    branches: [ support/v2 ]
  pull_request:
    branches: [ support/v2 ]

jobs:
  latest-deps:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.3.0
      with:
          auto-update-conda: true
          python-version: "3.12"
    - name: Tests
      shell: bash -el {0}
      env:
        ZARR_V3_EXPERIMENTAL_API: 1
        ZARR_V3_SHARDING: 1
      run: |
        python -m pip install pytest pytest-cov pytest-timeout msgpack-python
        python -m pip install .
        pytest -svx --timeout=300
