# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Linux Testing

on:
  push:
    branches: [ support/v2]
  pull_request:
    branches: [ support/v2]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']
        numpy_version: ['>=2.1', '==1.24.*']
        condadeps: ['']
        exclude:
          - python-version: '3.12'
            numpy_version: '==1.24.*'
          - python-version: '3.13'
            numpy_version: '==1.24.*'
        include:
          - python-version: '3.13'
            numpy_version: '>=2.1'
            # to test alternate hexdigests with zlib-ng
            condadeps: 'zlib-ng'
    services:
      redis:
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
      mongodb:
        image: mongo:4.4.11
        ports:
          - 27017:27017
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.1.1
      with:
          channels: conda-forge
          python-version: ${{ matrix.python-version }}
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    # Runs a set of commands using the runners shell
    - name: Create Conda environment with the rights deps
      shell: "bash -l {0}"
      run: |
        conda create -n zarr-env python==${{matrix.python-version}} pip nodejs ${{matrix.condadeps}}
        conda activate zarr-env
        npm install -g azurite
    - name: Install dependencies
      shell: "bash -l {0}"
      run: |
        conda activate zarr-env
        python -m pip install --upgrade pip
        python -m pip install -r requirements_dev_minimal.txt numpy${{matrix.numpy_version}} -r requirements_dev_optional.txt line_profiler pymongo redis
        python -m pip install -e .
        python -m pip freeze
    - name: Tests
      shell: "bash -l {0}"
      env:
        COVERAGE_FILE: .coverage.${{matrix.python-version}}.${{matrix.numpy_version}}
        ZARR_TEST_ABS: 1
        ZARR_TEST_MONGO: 1
        ZARR_TEST_REDIS: 1
        ZARR_V3_EXPERIMENTAL_API: 1
        ZARR_V3_SHARDING: 1
      run: |
        conda activate zarr-env
        mkdir ~/blob_emulator
        azurite -l ~/blob_emulator --debug debug.log 2>&1 > stdouterr.log &
        pytest --cov=zarr --cov-config=pyproject.toml --doctest-plus --cov-report xml --cov=./ --timeout=300
    - uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        verbose: true # optional (default = false)
